// Roteia o diretório de trabalho para a partição /tmp do Codespace
workDir = '/tmp/nextflow_work'

// Limpeza agressiva do armazenamento temporário
cleanup = true

// Ativação do Docker
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Configuração principal de processos e domada de recursos
process {
    // Tolerância a falhas
    maxRetries = 1
    errorStrategy = 'ignore'

    // SOBRESCRITA NF-CORE: Força as etiquetas a respeitarem nossa máquina
    withLabel: process_single { cpus = 1; memory = '2 GB' }
    withLabel: process_low    { cpus = 2; memory = '4 GB' }
    withLabel: process_medium { cpus = 4; memory = '8 GB' }
    withLabel: process_high   { cpus = 4; memory = '12 GB' }
    withLabel: process_long   { cpus = 4; memory = '12 GB' }

    // Força o passo de identificação de espécie a usar no máximo 12GB
    withName: '.*DADA2_ADDSPECIES' { memory = '12 GB' }
}
